*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1100px;
    font-size: 20px;
    margin: 10px 0 10px 10px;
    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container ul li {
    margin-bottom: 10px;
}

.container ul li button {
    padding: 5px;
    float: right;
    margin-top: 5px
}

.container ul li button:hover {
    background-color: rgba(243, 51, 233)
}